   	<div id="box">
	<%= form_for(@exemplare) do |f| %>
		<% if @exemplare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exemplare.errors.count, "erro") %> - Falha ao salvar Exemplar:</h2>

      <ul>
      <% @exemplare.errors.full_messages.each do |msg| %>
        <ol><%= msg %></ol>
      <% end %>
      </ul>
    </div>
  <% end %>
    		<table class="table_geral">
        		<tbody>
            		<tr class="odd">
            			<td>Filo:</td>
                		<td>
                        	<%= f.select :filo_id, Filo.find(:all).collect { |item| [item.descricao,item.id] }  %>
                		</td>
                		<td>Imagem Ventral:</td>
                		<td><%= f.file_field :costas %></td>
            		</tr>
            		<tr>
            			<td>Classe:</td>
                		<td><%= f.select :clase_id, Clase.find(:all).collect { |item| [item.descricao,item.id] } %>
                		</td>
                		<td>Imagem Dorsal:</td>
                		<td><%= f.file_field :dorso %></td>
            		</tr>
            
            		<tr class="odd">
            			<td>Ordem:</td>
                		<td>
                    		<%= f.select :ordem_id, Ordem.find(:all).collect { |item| [item.descricao,item.id] } %>
                		</td>
                		<td>Data da Coleta:</td>
                		<td><%= f.date_select :data_de_coleta %></td>
            		</tr>
            		<tr>
            			<td>Família:</td>
                		<td>
                        	<%= f.select :familia_id, Familium.find(:all).collect { |item| [item.descricao,item.id] }  %>
                		</td>
                		<td>Data da Chegada:</td>
                		<td><%= f.date_select :data_da_chegada %></td>
            		</tr>
            		<tr class="odd">
            		<td>Genero:</td>
                	<td>
                    	<%= f.select :genero_id, Genero.find(:all).collect { |item| [item.descricao,item.id] }  %>
                	</td>
                	<td>Localização do Acervo:</td>
                	<td><%= f.text_field :localizacao_do_acervo %></td>
            		</tr>
            		<tr>
                		<td>Código:</td>
                	<td><%= f.text_field :codigo_de_identificacao %></td>
					<td>Coletor:</td>
                	<td><%= f.text_field :identificador %></td>
            		</tr>
            		<tr class="odd">
                		<td>Espécie:</td>
                		<td><%= f.text_field :nome_cientifico %></td>
                		<td>Local de Origem:</td>
                		<td><%= f.text_field :local_de_origem %></td>
            		</tr>
            		<tr>
                		<td>Nome Vulgar:</td>
                		<td><%= f.text_field :nome_vulgar %></td>
                		<td></td>
                		<td></td>
            		</tr>
        </tbody>
    </table>
    <br />
    <table border="0" cellpadding="10" cellspacing="0" class="table_geral">
        <tr>
            <td>
                <%= f.submit "Salvarr" %>
            </td>
            <td>
                <input id="cancelar" type="button" value="Cancelar" onclick="javascript:window.location='/exemplares'"  />
            </td>
            <td style="width: 800px;">
            </td>
        </tr>
    </table>
    </div>
<% end %>