<div id="box">
<%= form_for(@exemplare) do |f| %>
  <% if @exemplare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exemplare.errors.count, "erro") %> - Falha ao salvar Exemplar:</h2>

      <ul>
      <% @exemplare.errors.full_messages.each do |msg| %>
        <ol><%= msg %></ol>
      <% end %>
      </ul>
    </div>
  <% end %>
    	<h4 align="center"><hr />Cadastrar Exemplar<hr /></h4>
    		<table cellspacing="0" id="tab">
            		<form>
                    <!-- primeira linha -->
        			<tr>
                    	<td>Código:</td>
            			<td>
                        	<%= f.text_field :codigo_identificacao %>
                        </td>
                		<td>Imagem Ventral:</td>
                		<td>
                        	<%= f.file_field :costas %>
                        </td>
                    </tr>
                    <!-- segunda linha -->
            		<tr>
            			<td>Filo:</td>
                        <td>
                        	<%= f.select :filo_id, Filo.find(:all).collect { |item| [item.descricao,item.id] }  %>
                		</td>
                		<td>Imagem Dorsal:</td>
                		<td>
                        	<%= f.file_field :dorso %>
                        </td>
            		</tr>
            		<!-- terceira linha -->	
            		<tr>
            			<td>Classe:</td>
                        <td>
                        	<%= f.select :clase_id, Clase.find(:all).collect { |item| [item.descricao,item.id] } %>
                		</td>
                		<td>Data da Coleta:</td>
                		<td>
                        	<%= f.date_select :data_coleta %>
                        </td>
            		</tr>
                    <!-- quarta linha -->	
            		<tr>
                    	<td>Ordem:</td>
                        <td>
                    		<%= f.select :ordem_id, Ordem.find(:all).collect { |item| [item.descricao,item.id] } %>
                		</td>
                		
                		<td>Data da Chegada:</td>
                		<td>
                        	<%= f.date_select :data_chegada %>
                        </td>
            		</tr>
                    <!-- quinta linha -->	
            		<tr>
            			<td>Família:</td>
                        <td>
                        	<%= f.select :familia_id, Familium.find(:all).collect { |item| [item.descricao,item.id] } %>
                		</td>
                		<td>Identificador:</td>
                        <td>
                        	<%= f.text_field :identificador %>
                        </td>
                	</tr>
                    <!-- sexta linha -->	
            		<tr>
                		<td>Genero:</td>
                        <td>
                    		<%= f.select :genero_id, Genero.find(:all).collect { |item| [item.descricao,item.id] } %>
                		</td>	
                		<td>Coletor:</td>
                		<td>
                        	<input type="text" id="coletor" />
                        </td>
            		</tr>
                    <!-- sétima linha -->	
            		<tr>
                		<td>Espécie:</td>
                		<td>
                        	<%= f.text_field :nome_cientifico %>
                        </td>
                		<td>Local de Origem:</td>
                        <td>
                        	<%= f.text_field :local_origem %>
                        </td>
                	</tr>
                    <!-- oitava linha -->	
            		<tr>
                		<td>Nome Vulgar:</td>
                		<td>
                        	<%= f.text_field :nome_vulgar %>
                		<td></td>
                		<td></td>
            		</tr>
                    <tr>
                    	<td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
        			<tr>
            			<td></td>
            			<td align="right">
                			<%= f.submit "Salvar" %>
            			</td>
                        <td align="left">
                        	 <input id="btnCancelar" type="button" value="Cancelar" onclick="javascript:window.location='/exemplares'" />
                        </td>
                        <td></td>
            		</tr>
        		</form>
    	</table>
	<% end %>
    </div>