	<div id="box">
    	<h4 align="center"><hr />Ver Exemplar<hr /></h4>
    		<table cellspacing="0" id="tab">
            			
                    <!-- primeira linha -->
        			<tr>
                    	<td>Código:</td>
            			<td>
                        	<%= @exemplare.codigo_identificacao %>
                        </td>
                		<td>Imagem Ventral:</td>
                		<td colspan="3">
							<div id ="foto">
                        		<%= image_tag @exemplare.costas.url %>
								<img src="@exemplare.costas.url" />
							</div>
						</td>
                    </tr>
                    <!-- segunda linha -->
            		<tr>
            			<td>Filo:</td>
                        <td>
                        	<% @filos.each do |filo| %>
								<% if @exemplare.filo_id  == filo.id %>
									<%= filo.descricao %>
								<% end %>
							<% end %>
                		</td>
                		<td>Imagem Dorsal:</td>
                		<td>
                        	<%= image_tag @exemplare.dorso.url %>
                        </td>
                        <td></td>
                        <td></td>
            		</tr>
            		<!-- terceira linha -->	
            		<tr>
            			<td>Classe:</td>
                        <td>
                        	<% @clases.each do |clase| %>
								<% if @exemplare.clase_id  == clase.id %>
									<%= clase.descricao %>
								<% end %>
							<% end %>
                		</td>
                		<td>Data da Coleta:</td>
                		<td>
                        	<%= @exemplare.data_coleta %>
                        </td>
            		</tr>
                    <!-- quarta linha -->	
            		<tr>
                    	<td>Ordem:</td>
                        <td>
                    		<% @ordems.each do |ordem| %>
								<% if @exemplare.ordem_id  == ordem.id %>
									<%= ordem.descricao %>
								<% end %>
							<% end %>
                		</td>
                		
                		<td>Data da Chegada:</td>
                		<td>
                        	<%= @exemplare.data_chegada %>
                        </td>
            		</tr>
                    <!-- quinta linha -->	
            		<tr>
            			<td>Família:</td>
                        <td>
                        	<% @familia.each do |familium| %>
								<% if @exemplare.familia_id  == familium.id %>
									<%= familium.descricao %>
								<% end %>
							<% end %>
                		</td>
                		<td>Identificador:</td>
                        <td>
                        	<%= @exemplare.identificador %>
                        </td>
                	</tr>
                    <!-- sexta linha -->	
            		<tr>
                		<td>Genero:</td>
                        <td>
                    		<% @generos.each do |genero| %>
								<% if @exemplare.genero_id  == genero.id %>
									<%= genero.descricao %>
								<% end %>
							<% end %>
                		
						<td>Local de Origem:</td>
                        <td>
                        	  <%= @exemplare.local_origem %>
                        </td>
					
            		</tr>
                    <!-- sétima linha -->	
            		<tr class="odd">
                		<td>Espécie:</td>
                		<td>
                        	<%= @exemplare.nome_cientifico %>
                        </td>
                		</td>	
                		<td></td>
                		<td>
                        </td>
                	</tr>
                    <!-- oitava linha -->	
            		<tr>
                		<td>Nome Vulgar:</td>
                		<td>
                        	<%= @exemplare.nome_vulgar %>
                		<td></td>
                		<td></td>
            		</tr>
                    </form>
    </table>
    <br />
    <table cellspacing="0">
    	<form>
        <tr>
           
            <td>
                <%= link_to image_tag("/assets/voltar.png", :size => "24x24"), exemplares_path %>
            </td>
            <td style="width: 800px;">
            </td>
        </tr>
        </form>
    </table>
    </div>