  <div id="box">
	<%= form_for(@genero) do |f| %>
		<% if @genero.errors.any? %>
			<div id="error_explanation">
			<h2><%= pluralize(@genero.errors.count, "erro") %> este gênero não pode ser salvo:</h2>

			<ul>
				<% @genero.errors.full_messages.each do |msg| %>
				<ol><%= msg %></ol>
				<% end %>
			</ul>
			</div>
	<% end %>  
	    		<form id="CadastrarClasse">
            	<!-- tabela de preencher -->
    			<table class="table_geral">
                    <tr>
                        <td>Clase:</td>
                        <td>
                        	<%= f.select :familia_id, Familium.find(:all).collect { |item| [item.descricao,item.id] }%>
                        </td>
                        <td style="width: 800px;"></td>
                    </tr>
                    <tr>
            			<td>Gêneros:</td>
            			<td><%= f.text_field :descricao %></td>
            			<td style="width: 800px;"></td>
        			</tr>
    			</table>
    			<br />
                <!-- tabela de botões -->
    			<table border="0" class="table_geral">
        			<tr>
            			<td><%= f.submit "Salvar" %></td>
            			<td><input id="btnCancelar" type="button" value="Cancelar" onclick="javascript:window.location='/generos'"/></td>
            			<td style="width: 800px;"></td>
        			</tr>
    			</table>
    		</form>
<% end %>