<div id="box">
	<table id="tab-login">
    <%= form_tag session_path do %>
	<form>
	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>
    <tr>
    	<td colspan="2" align="center"><img src="/assets/museu-logo-login.png" /></td>
    </tr>
    <tr>
    	<td align="right" width="40%">Usuário:</td><td><%= text_field_tag :usuario %></td>
    <tr>
    	<td align="right">Senha:</td><td><%= password_field_tag :hashed_password %></td>
    </tr>
    <tr>
    	<td></td>
        <td><%= submit_tag "Entrar" %></td>
    </tr>
    </form>
    </table>
    </div>
<% end %>