<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Título do aplicativo</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<%= form_tag session_path do %>
    <form>
	
    <div class="login">
	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>
        <table border="0" cellpadding="10" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="4" style="height: 5px;">
                        <img src="/assets/logo.jpg" width="20%">
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td style="width: 5px;">
                    </td>
                    <td>
                        Usuário:
                    </td>
                    <td>
                        <%= text_field_tag :usuario %>
                    </td>
                    <td style="width: 5px;">
                    </td>
                </tr>
                <tr>
                    <td style="width: 5px;">
                    </td>
                    <td>
                        Senha:
                    </td>
                    <td>
                         <%= password_field_tag :hashed_password %>
                    </td>
                    <td style="width: 5px;">
                    </td>
                </tr>
                <tr>
                    <td style="width: 5px;">
                    </td>
                    <td>
                        <%= submit_tag "Login" %>
                    </td>
                    <td style="">
                    </td>
                    <td style="width: 5px;">
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="height: 5px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>
	<% end %>
</body>
</html>
