<h1>Listing clases</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Status</th>
    <th>Filo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clases.each do |clase| %>
  <tr>
    <td><%= clase.descricao %></td>
    <td><%= clase.status %></td>
    
    <td><%= link_to 'Show', clase %></td>
    <td><%= link_to 'Edit', edit_clase_path(clase) %></td>
    <td><%= link_to 'Destroy', clase, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clase', new_clase_path %>
