  <div id="box">
	<%= form_for(@clase) do |f| %>
		<% if @clase.errors.any? %>
			<div id="error_explanation">
			<h2><%= pluralize(@clase.errors.count, "erro") %> esta clase não pode ser salvo:</h2>

			<ul>
				<% @clase.errors.full_messages.each do |msg| %>
				<ol><%= msg %></ol>
				<% end %>
			</ul>
			</div>
	<% end %>  
	    		<form id="CadastrarClasse">
            	<!-- tabela de preencher -->
    			<table class="table_geral">
                    <tr>
                        <td>Filo:</td>
                        <td>
                        	<%= f.select :filo_id, Filo.find(:all).collect { |item| [item.descricao,item.id] } %>
                        </td>
                        <td style="width: 800px;"></td>
                    </tr>
                    <tr>
            			<td>Classe:</td>
            			<td><%= f.text_field :descricao %></td>
            			<td style="width: 800px;"></td>
        			</tr>
    			</table>
    			<br />
                <!-- tabela de botões -->
    			<table border="0" class="table_geral">
        			<tr>
            			<td><%= f.submit "Cadastrar" %></td>
            			<td><input id="btnCancelar" type="button" value="Cancelar" onclick="javascript:window.location='/clases'"/></td>
            			<td style="width: 800px;"></td>
        			</tr>
    			</table>
    		</form>
<% end %>