<p id="notice"><%= notice %></p>

<p>
  <b>Descrição:</b>
  <%= @clase.descricao %>
</p>

<p>
  <b>Status:</b>
  <%= @clase.status %>
</p>

<p>
  <b>Filo</b>
  <%= @clase.filo_id %>
</p>

<%= link_to 'Editar', edit_clase_path(@clase) %> |
<%= link_to 'Voltar', clases_path %>
