
<div id="box">
<h2> Relatorio de Exemplares</h2>
<% i=0%>
<table id="tab" cellpadding="15px" border="1px;">
        <thead>
            <tr>
                <th>
                    Identificação
                </th>
                <th>
                    Exemplar
                </th>
                <th>
                    Filo
                </th>
                <th>
                    Data de Chegada
                </th>
				<th>
                    Origem
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
			<% @exemplares.each do |exemplare| %>
			<% i+=1%>
                <td >
                    <%= exemplare.codigo_identificacao %>
                </td>
                <td>
                    <%= exemplare.nome_vulgar %>
                </td>
                <td>
				<% @filos.each do |filo| %>
					<% if exemplare.filo_id == filo.id %>
						<%= filo.descricao %>
					<% end %>
				<% end %>
                </td>
                <td>
                    <%= exemplare.data_chegada %>
                </td>
				<td>
                    <%= exemplare.local_origem %>
                </td>
            </tr>
			<% end %>
        </tbody>
    </table>
<br />
<p>
	<b>Total de exempares: <%= i %></b>
</p>
 
</div>
