    <div id="box">
	<%= form_for(@usuario) do |f| %>
    	<h4 align="center"><hr />Cadastrar Usuário<hr /></h4>
    	<table cellspacing="0" id="tab">
        
            <tr>
                <td width="118">Nome</td>
                <td width="776"><%= f.text_field :nome%></td>
                <td></td>
            </tr>
            <tr>
                <td>Função</td>
                <td> <%= f.text_field :funcao %></td>
                <td></td>    
            </tr>
			<tr>
                <td>E-mail</td>
                <td><%= f.text_field :email %></td>
                <td></td>
            </tr>
            
                <td>Login</td>
                <td><%= f.text_field :usuario%></td>
                <td></td>
            </tr>
            <tr>
                <td>Senha</td>
                <td><%= f.password_field :senha%></td>
                <td></td>
            </tr>
            <tr>
                <td>Confirmar Senha</td>
                <td><%= f.password_field :senha_confirmation %></td>
                <td></td>
            </tr>
        	<tr>
            	<td></td>
                <td></td>
                <td></td>
            </tr>
        <tr>
            <td><%= f.submit "Salvar" %>
            </td>
			<td>
                <input type="button" id="btnCancelar" value="Cancelar" onclick="javascript:window.location='/usuarios'" />
            <td style="width: 800px;"></td>
        </tr>
    </table>
	</div>
<% end %>