<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @filo.descricao %>
</p>

<p>
  <b>Status:</b>
  <%= @filo.status %>
</p>


<%= link_to 'Edit', edit_filo_path(@filo) %> |
<%= link_to 'Back', filos_path %>
