  <div id="box">
	<%= form_for(@filo) do |f| %>
		<% if @filo.errors.any? %>
			<div id="error_explanation">
			<h2><%= pluralize(@filo.errors.count, "erro") %> este filo não pode ser salvo:</h2>

			<ul>
				<% @filo.errors.full_messages.each do |msg| %>
				<ol><%= msg %></ol>
				<% end %>
			</ul>
			</div>
	<% end %>  
    		<form id="CadastrarFilo">
    			<table class="table_geral">
        			<tr>
            			<td>Filo:</td>
            			<td><%= f.text_field :descricao %></td>
            			<td style="width:800px;"></td>
        			</tr>
        			<tr>
                    	<td></td>
                        <td></td>
            			<td style="width: 800px;"></td>
        			</tr>
    			</table>
    			<br />
    			<table class="table_geral">
        			<tr>
            			<td><%= f.submit "Cadastrar" %></td>
            			<td><input id="btnCancelar" type="button" value="Cancelar" onclick="javascript:window.location='/filos'"/></td>
            			<td style="width: 800px;"></td>
        			</tr>
    			</table>
    		</form>
    </div>
<% end %>