<div id="box">
    
    <h4 align="center"><hr />Filo<hr /></h4>
    
    <div style="width:35%; float:left">
    	<input type="button" id="maisFilo" value="Novo Filo" onclick="javascript:window.location='/filos/new'" />
    </div>
    <div style="width:65%; float:left"> 
    	Busca:<input id="txtNome" type="text" />
    	<input id="btnBusca" type="button" value="OK" />
    </div>
    </form>
    <br /><br /><br />
    
    <table id="tab" border="1px;">
        <thead>
            <tr>
                <th>Filo</th>
                <th align="center" style="width:100px">Editar</th>
                <th align="center" style="width:100px">Excluir</th>
            </tr>
        </thead>
        <tbody>
		<% @filos.each do |filo| %>
            <tr>
                <td><%= link_to filo.descricao, filo %></td>
                    <td align="center" style="width:100px">
						<%= link_to image_tag("/assets/editar.png", :size => "24x24") ,edit_filo_path(filo) %>
                    </td>
					
						<td align="center" style="width:100px;">
						<%= link_to image_tag("excluir.png", :size => "24x24"),filo, confirm: "Você esta certo disso?", method: :delete  %>  					
						</td>
					
			<% end %>
            </tr>
        </tbody>
    </table>
	<div class="digg_pagination">
		<div clas="page_info">
			<%= page_entries_info @exemplares %>
		</div>
		<%= will_paginate @exemplares, :container => false %>
  </div>
    </div>
